.bracket {
    display: flex;
    background-color : #efe;
    }

.round {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color : #cec;
    margin : 1px;
    }

.game {
    width: 150px;
    height: 2em;
    border: 1px solid black;
    line-height: 2em;
    text-align: center;
    padding: 0 10px;
    margin: 10px;
    position: relative;
    background-color : #bfb;
    }

.game::after {
    display: block;
    content: '';
    position: absolute;
    right: -20px;
    top: 15px;
    background-color: #5cb85c;
    width: 20px;
    height: 5px;
    transform-origin: 0 0;
    }

.game:nth-child(odd)::after {
    transform: skewY(45deg);
    }

.game:nth-child(even)::after {
    transform: skewY(-45deg);
    }

.round:nth-child(2) .game:nth-child(odd)::after {
    transform: skewY(65deg)
    }

.round:nth-child(2) .game:nth-child(even)::after {
    transform: skewY(-65deg)
    }

.round:nth-child(3) .game:nth-child(odd)::after {
    transform: skewY(78deg)
    }

.round:nth-child(3) .game:nth-child(even)::after {
    transform: skewY(-78deg)
    }

.round:last-child .game::after {
    display: none;
    }

.round:nth-last-child(2) {
    background-color : #FFF;
    }